<% if @current_user.has_bike? %>
	<p>You've checked out - <%= @checkout.bike.name %>.</p>
	<p>The lock's password is <%= @checkout.bike.lock_password %>.</p>
	<%= image_tag @checkout.bike.image.url(:medium) %>

	<%= form_for(@checkout) do |f| %>
		<%= f.hidden_field :returned_at, value: Time.now %>
		<%= f.submit "Return #{@checkout.bike.name}" %>
	<% end %>

<% else %>
	<% @bikes.each do |bike| %>
		<article class="bike<%= bike.is_checked_out? ? ' not-available' : '' %>">
			<% if bike.is_checked_out? %>
				<p class="disabled-button">This bike is currently checked out.</p>
			<% else %>
				<%= form_for(@checkout) do |f| %>
					<%= f.hidden_field :user_id, value: @current_user.id %>
					<%= f.hidden_field :bike_id, value: bike.id %>
					<%= link_to image_tag(bike.image.url(:medium)), "/bikes/#{bike.id}/accessories"%>
				<% end %>
			<% end %>
		</article>
	<% end %>
<% end %>