<% @bikes.each do |bike| %>
	<article class="bike<%= bike.is_checked_out? ? ' not-available' : '' %>">
		<h2><%= bike.name %></h2>
		<%= image_tag bike.image.url(:medium) %>

		<% if bike.is_checked_out? %>
			Checked out!
		<% else %>
			<%= form_for(@checkout) do |f| %>
				<%= f.hidden_field :user_id, value: @current_user.id %>
				<%= f.hidden_field :bike_id, value: bike.id %>
				<%= f.submit "Check #{bike.name} out" %>
			<% end %>
		<% end %>
	</article>
<% end %>
