<h1>Listing checkouts</h1>


<% @checkouts.each do |checkout| %>

<article class="checkout"><%= image_tag checkout.user.picture %> <%= image_tag checkout.bike.image.url(:thumb) %><br>
<%= checkout.user.email %> checked out <%= checkout.bike.name %> on <%= checkout.created_at.to_time.strftime('%B %e at %l:%M %p') %>.
        | <%= link_to 'Show', checkout %> |
        <%= link_to 'Edit', edit_checkout_path(checkout) %> |
        <%= link_to 'Delete', checkout, method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>

</article>

<% end %>