<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @checkout.user %>
</p>

<p>
  <strong>Bike:</strong>
  <%= @checkout.bike %>
</p>

<p>
  <strong>Returned at:</strong>
  <%= @checkout.returned_at %>
</p>

<%= link_to 'Edit', edit_checkout_path(@checkout) %> |
<%= link_to 'Back', checkouts_path %>
