<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @checkout.user %>
</p>

<p>
	<%= @checkout.bike.name %>
	<br>
  <strong>Accessory:</strong>
  <% @checkout.bike.accessories.each do |accessory| %>
  <%= accessory.name %>
  
</p>
<%= link_to 'Yes', accessory %> 
<% end %>
|
<%= link_to 'No', accessories_path %>

