<%= form_for(@accessory) do |f| %>
  <% if @accessory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accessory.errors.count, "error") %> prohibited this accessory from being saved:</h2>

      <ul>
      <% @accessory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :not_missing %><br>
    <%= f.check_box :not_missing %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
