<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @checkout %>
</p>

<p>
  <strong>Not missing:</strong>
  <%= @accessory.not_missing %>
</p>

<%= link_to 'Yes', edit_accessory_path(@accessory) %> |
<%= link_to 'No', accessories_path %>
