<!DOCTYPE html>
<html>
<head>
  <title>LabBikeShare</title>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if flash[:notice] %>
	<div class="flash" id="notice"><p><%= flash[:notice] %></p></div>
<% elsif flash[:success] %>
	<div class="flash" id="success"><p><%= flash[:success] %></p></div>
<% end %> 

<header>
	<% if @current_user %>
		<%= content_tag :figure, image_tag(@current_user.picture), class: "avatar" %>
		<%= link_to "Logout", "/logout", class: "button logout" %>
	<% end %>
</header>

<main>
	<%= yield %>
</main>

</body>
</html>
