<!DOCTYPE html>
<html>
<head>
  <title>LabBikeShare</title>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
	<div id="notice"><%= flash[:notice] %></div>
<% elsif flash[:success] %>
	<div id="success"><%= flash[:success] %></div>
<% end %>

<%= link_to "Logout", "/logout" if @current_user %>

<%= yield %>

</body>
</html>
